@{
    ViewData["Title"] = "Home Page";
    var account = ViewBag.Account as Account;
    var username = account.username;
}

<div class="text-center">
    <h1 class="display-4">Welcome @username hihi</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
